*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    max-width: 140px;
    height: -webkit-fill-available;
    margin-bottom: 20px;
    color: rgb(92, 92, 92);
    background: rgb(224, 221, 221);
    border-right: 4px solid rgb(112, 109, 109);
    position: fixed;
    top: 20px;
    left: 30px;
}

h2{
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid rgb(203, 198, 198);
}

.menu .com{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.menu .com img{
    width: 15px;
    height: 15px;
}

.menu button{
    border: 0;
    width: 100%;
    padding: 10px;
    text-align: left;
    color: rgb(139, 132, 132);
    cursor: pointer;
    background: rgb(224, 221, 221);
}

button:hover{
    color: rgb(255, 255, 255);
    background: rgb(162, 70, 70);
}

.profile{   
    padding: 20px 20px 20px 180px;
    margin: 0px 10px;
    height: auto;
    color: rgb(92, 92, 92);
    background: rgb(203, 198, 198);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.user-founder{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-founder .container{
    /* padding: 10px; */
    background: rgb(224, 221, 221);
    box-shadow: 2px 2px 2px 2px rgba(112, 109, 109, .8);  
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 10px;
    
    outline: 1px solid red;
}

.user-founder .edit{
    flex-grow: 2;
    width: 200px;
}

.user-founder .constitutor{
    flex-grow: 1; 
    width: 100px;
}

.user-founder .container .founder-photo{
    position: absolute;
    max-width: 91px;
    /* max-width: 100%; */
    max-width: 91px;
    /* width: 100%;
    max-height: 55px;
    margin-right: 70px; */


    top: -40px;
    left: 70px;
    /* margin-right: -50%;
    transform: translate(50%, 0) */
}

.user-founder .container .founder-text{
    max-width: 100%;
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
}

.profile .founder{
    flex-grow: 1;
    position: relative;
    margin-bottom: 10px;
    width: 150px;
}

.profile .founder .ales{
    position: absolute;
    /* max-width: 100%; */
    max-width: 55px;
    width: 100%;
    max-height: 55px;
    margin-right: 70px;
    top: -10px;
}




.profile .bor-bot{
    padding-top: 30px;
    border-bottom: 2px solid rgb(173, 167, 167);
}

.profile .footer{
    padding: 20px 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.profile .footer-info{
    padding-left: 10px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.profile .footer-bot{
    cursor: pointer;
}

.footer-bot:hover{
    background: rgb(57, 215, 194);
    color: white;
}

.profile .footer-mwl{
    display: block;
    margin-left: 30px;
}